@media (max-width: 1170px) {
    #main-header {
        height: 70vh;
        background-image: url(../img/man-2.jpg);
    }

    #main-header .header-caption {
        top: 0;
        transform: translate(135%, 50%);
    }
}

@media (max-width: 992px) {
    #main-header {
        height: 50vh;
        background-image: url(../img/man-1.jpg);
    }

    #main-header .header-caption {
        text-align: center;
        color: #000;
        left: 50%;
        top: 105%;
        transform: translate(-50%, 0);
    }

    #main-header .header-caption h1 {
        font-size: 3vw;
    }

    #main-header .header-caption h2 {
        font-size: 6vw;
    }
}
